
.community {
  right: 16px;
  bottom: calc(50% - 40px);
  .iconArea {
    width: 48px;
    height: 48px;
  }
  i.icon {
    font-size: 48px;
    color: $secondary;
    margin-top: -15px;
  }
  img.icon {
    width: 48px;
    height: 48px;
  }
}