.limitedCourse {
  img {
    height: 218px;
    @include media-breakpoint-up(md) {
      height: 341px;
    }
  }
}
.course {
  ::placeholder {
    color: $secondary;
  }
  .teacherPicture {
    width: 96px;
    height: 96px;
    top: -48px;
    left: calc(50% - 48px);
  }
}
.searchArea {
  input {
    max-width: 175px;
    @include media-breakpoint-up(md) {
      max-width: 100%;
    }
  }
  select {
    width: 106px;
    height: 36px;
    margin-left: 0px;
    @include media-breakpoint-up(md) {
      margin-left: -7px;
    }
  }
}
.courseCard {
  height: 196px;
}
.badge {
  top: -14px;
  left: 24px;
}