.index {
  .banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg);
    background-size: cover;
    background-position: bottom;
    height: calc(100vh - 82px);
  }
  .teacherImage {
    height: 628px;
  }
  .teacherPicture {
    width: 48px;
    height: 48px;
    @include media-breakpoint-up(md) {
      width: 68px;
      height: 68px;
    }
  }
}
.teacherCard{
  &:hover {
    @include media-breakpoint-up(md) {
      margin-left: -95px;
      img {
        height: 94px;
        width: 94px;
      }
    }
  }
}
.bgImage {
  height: 420px;
  @include media-breakpoint-up(md) {
    height: 252px;
  }
  @include media-breakpoint-up(lg) {
    height: 420px;
  }
}
.comment {
  height: auto;
  overflow: hidden;
  @include media-breakpoint-up(md) {
  height: 248px;
  }
  ul {
    flex: 33.33%;
  }
}
.paginationBtn {
  button {
    color: $secondary;
    &.disabled {
      opacity: 0.4;
    }
  }
  .icon {
    font-size: 40px;
  }
}