body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}
main {
  margin-top: 82px;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
button, a {
  background: none;
  border: none;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, ul, .table {
  margin-bottom: 0;
  line-height: 1.5;
}
input {
  border-width: 1px;
}