.datepicker {
  color: $secondary;
  .button {
    color: $secondary;
  }
}
.datepicker-cell {
  &.focused:not(.selected),
  &.focused {
    background: $secondary;
    color: $white;
    &:hover {
      background: $secondary;
    }
  }
  &:not(.disabled):not(.focused):hover {
    background: rgba($primary, 0.5);
  }
}